.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.legend {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.input {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.icon {
  color: var(--icon-radio);
}

.iconChecked {
  color: #5d8636;
}
