:root {
  --text: #253017;
  --caption: #69735d;
  --toggle: #b2b9a9;
  --disabled-text: #9ca197;
  --disabled: #e4e8df;
  --text-link: #508826;
  --button-pressed: #508826;
  --accent: #abd27a;
  --button-hover: #deebc5;

  --tag-business: #eee7f7;
  --tag-language: #ebe5c5;
  --tag-home: #f7ebe5;
  --tag-art: #f7e7f2;
  --tag-education: #e7f2f6;
  --tag-health: #e9f7e7;
  --tag-default: #e8ecf7;

  --background: #f9faf7;
  --card: #fff;
  --input: #fff;
  --alarm: #e0796e;
  --error: #bf3920;
}

body {
  background-color: var(--background);
  color: var(--text);
}
