:root {
  --text: #253017;
  --caption: #69735d;
  --toggle: #b2b9a9;
  --disabled-text: #9ca197;
  --disabled: #e4e8df;
  --text-link: #508826;
  --button-pressed: #508826;
  --accent: #abd27a;
  --button-hover: #deebc5;

  --tag-business: #eee7f7;
  --tag-language: #ebe5c5;
  --tag-home: #f7ebe5;
  --tag-art: #f7e7f2;
  --tag-education: #e7f2f6;
  --tag-health: #e9f7e7;
  --tag-default: #e8ecf7;

  --background: #f9faf7;
  --card: #fff;
  --input: #fff;
  --alarm: #e0796e;
  --error: #bf3920;
  --tertiary: #fff;
  --icon-radio: #000;
}

[data-theme='dark'] {
  --text: #e6e6e6;
  --caption: #a0a6a6;
  --disabled-text: #6f7575;

  --background: #121212;
  --card: #1c1c1c;
  --input: #1f1f1f;
  --disabled: #2a2a2a;

  --accent: #8fd14f;
  --button-hover: #6fa83a;
  --button-pressed: #8fd14f;
  --toggle: #6b6f68;
  --text-link: #9bd86a;

  --alarm: #e08a7e;
  --error: #e15c4a;

  --tag-business: #2a2533;
  --tag-language: #2f2c1a;
  --tag-home: #33231a;
  --tag-art: #331a2a;
  --tag-education: #1a2a33;
  --tag-health: #1f3321;
  --tag-default: #222533;
  --tertiary: #292727;
  --icon-radio: #fff;
}

body {
  background-color: var(--background);
  color: var(--text);
}

html,
body {
  transition:
    background-color 0.7s ease,
    color 0.7s ease;
}
