/* Шрифты */
:root {
  --font-family-roboto-regular: 'Roboto-Regular', sans-serif;
  --font-family-roboto-medium: 'Roboto-Medium', sans-serif;
  --font-family-jost-medium: 'Jost-Medium', sans-serif;
  --font-family-opensans-semibold: 'OpenSans-SemiBold', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --h1-font-size: 32px;
  --h1-line-height: 40px;
  --h1-font-family: var(--font-family-jost-medium);
  --h1-font-weight: var(--font-weight-medium);
  --h2-font-size: 24px;
  --h2-line-height: 32px;
  --h2-font-family: var(--font-family-jost-medium);
  --h2-font-weight: var(--font-weight-medium);
  --h3-font-size: 20px;
  --h3-line-height: 24px;
  --h3-font-family: var(--font-family-jost-medium);
  --h3-font-weight: var(--font-weight-medium);
  --h4-font-size: 16px;
  --h4-line-height: 24px;
  --h4-font-family: var(--font-family-roboto-medium);
  --h4-font-weight: var(--font-weight-medium);
  --body-font-size: 16px;
  --body-line-height: 24px;
  --body-font-family: var(--font-family-roboto-regular);
  --body-font-weight: var(--font-weight-regular);
  --caption-font-size: 12px;
  --caption-line-height: 16px;
  --caption-font-family: var(--font-family-roboto-regular);
  --caption-font-weight: var(--font-weight-regular);
}

body {
  font-family: var(--font-family-roboto);
  font-weight: var(--font-weight-regular);
}
