// Шрифты
$font-family-roboto-regular: 'Roboto-Regular', sans-serif;
$font-family-roboto-medium: 'Roboto-Medium', sans-serif;
$font-family-jost-medium: 'Jost-Medium', sans-serif;
$font-family-opensans-semibold: 'OpenSans-SemiBold', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$h1: (
  font-size: 32px,
  line-height: 40px,
  font-family: $font-family-jost-medium, sans-serif,
  font-weight: $font-weight-medium
);
$h2: (
  font-size: 24px,
  line-height: 32px,
  font-family: $font-family-jost-medium, sans-serif,
  font-weight: $font-weight-medium
);
$h3: (
  font-size: 20px,
  line-height: 24px,
  font-family: $font-family-jost-medium, sans-serif,
  font-weight: $font-weight-medium
);
$h4: (
  font-size: 16px,
  line-height: 24px,
  font-family: $font-family-roboto-medium, sans-serif,
  font-weight: $font-weight-medium
);
$body: (
  font-size: 16px,
  line-height: 24px,
  font-family: $font-family-roboto-regular, sans-serif,
  font-weight: $font-weight-regular
);
$caption: (
  font-size: 12px,
  line-height: 16px,
  font-family: $font-family-roboto-regular, sans-serif,
  font-weight: $font-weight-regular
)