.footer {
  background-color: var(--card);
  width: 100%;
  display: flex;
  padding: 32px 36px;
  height: 232px;
  justify-content: space-between;
}

.logoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectName {
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
  color: var(--caption);
}

.linkSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 60px;
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 324px;
}

.styledLinkList {
  list-style-type: disc;
}
