.tag {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  user-select: none;
  /*flex-shrink: 0;*/
}

.tagOverflow {
  flex-shrink: 1; /* тег может сжиматься */
  overflow: hidden; /* скрываем лишний текст */
  text-overflow: ellipsis; /* многоточие */
  white-space: nowrap; /* одна строка */
  min-width: 0; /* важно для корректного text-overflow в flex */
}

.default {
  background: var(--tag-default);
}

.business {
  background: var(--tag-business);
}

.language {
  background: var(--tag-language);
}

.home {
  background: var(--tag-home);
}

.art {
  background: var(--tag-art);
}

.education {
  background: var(--tag-education);
}

.health {
  background: var(--tag-health);
}
