.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  width: 100%;
  background: var(--background, #f9faf5);
}

.title {
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text);
  margin-bottom: 32px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 24px;

  width: 1136px;
  max-width: 100%;
  border-radius: 12px;
  box-sizing: border-box;

  align-items: stretch;
}

.formSection,
.illustrationSection {
  flex: 1;
  display: flex;
}

.formSection > * {
  width: 100%;
  height: 100%;
}

.illustrationSection > * {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 32px;
  }

  .formSection {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .illustrationSection {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .formSection > *,
  .illustrationSection > * {
    height: auto;
  }
}

@media (max-width: 600px) {
  .illustrationSection {
    display: none;
  }
}
