.button {
  border-radius: 12px;
  padding: 12px 24px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  border: none;
  background: none;
  letter-spacing: 0.02em;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.button:disabled {
  cursor: not-allowed;
}

.primary {
  background-color: var(--accent);
  width: 284px;
  border: solid 1px #000;
}

.primary:hover {
  background: var(--button-hover);
}

.primary:active {
  background-color: var(--button-pressed);
}

.primary:disabled {
  background-color: var(--disabled);
}

.secondary {
  border: 1px solid var(--button-hover);
}

.secondary:hover {
  color: var(--caption);
}

.secondary:active {
  border-color: var(--button-pressed);
}

.tertiary {
  background-color: #fff;
}
