.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  max-width: 556px;
  width: 100%;
  margin: 0 auto;

  padding: 48px 60px 40px;

  background: var(--card);
  border-radius: 12px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.field {
  width: 100%;
  margin-bottom: 16px;
}

.row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.row > * {
  flex: 1 1 0;
}

.buttons {
  display: flex;
  gap: 16px;
  width: 100%;
}

.buttonBack,
.buttonNext {
  width: 100%;
  height: 48px;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .form {
    padding: 32px 24px 24px;
  }

  .row {
    flex-direction: column;
  }

  .buttons {
    flex-direction: column-reverse;
  }

  .buttonBack,
  .buttonNext {
    flex: 1 1 auto;
    width: 100%;
  }
}
