.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 36px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.logoWrap {
  display: flex;
  align-items: center;
  max-height: 40px;
  overflow: hidden;
}

.logoWrap > * {
  max-height: 40px;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 147px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 12px;

  background: var(--card, #ffffff);
  font-family: var(--font-family-roboto-regular);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--text);
}
