.wrap {
  max-width: 1020px;
  display: flex;
  gap: 24px;
  margin: 32px 36px 60px 36px;
}

.contentColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 1020px;
  width: 100%;
  background-color: var(--card);
  border-radius: 12px;
  padding-top: 40px;
}
