.page {
  padding: 44px 36px 60px 36px;
  display: flex;
  align-items: start;
  gap: 24px;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.preview_skill {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24px;
  align-items: stretch;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  min-width: 0;
}

/*.userCardItem {*/
/*  width: auto;*/
/*  max-width: none;*/
/*}*/
