.page {
  padding: 44px 36px 60px 36px;
  display: flex;
  align-items: start;
  gap: 24px;
}

.preview_skill {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24px;
  align-items: stretch;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
