.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 556px;
  height: auto;
  margin: 0 auto;
  padding: 60px;
  border-radius: 12px;
  background: var(--card);
}

.image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 40px;
  margin-top: 73px;
}

.title {
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text);
  margin-bottom: 12px;
}

.subtitle {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text);
  margin-bottom: 73px;
}
