:root {
  --text: #253017;
  --accent: #abd27a;
  --button-hover: #deebc5;
}

.menu-link {
  text-decoration: none;
  color: var(--text);
  transition: color 0.2s ease;
  margin-right: 32px;
}

.menu-link:hover {
  cursor: pointer;
  color: var(--button-hover);
}

.menu-link--active {
  color: var(--accent);
}
