.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 280px;
  max-width: 324px;
  min-height: 400px;
  background: #ffffff;
  border-radius: 12px;
  box-sizing: border-box;
}

.userMenu {
  max-width: 244px;
  height: 100%;
  overflow: hidden;
  margin: 40px 40px 0 40px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
