.wrapper {
  width: 436px;
  height: 88px;
  padding: 20px;
  border: 1px dashed var(--caption);
  border-radius: 12px;
  opacity: 0.8;
  line-height: 24px;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 0.2s;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.wrapper.active {
  border-color: var(--accent);
}

.label {
  color: var(--caption);
  font-size: 16px;
  font-weight: 400;
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-link);
  font-weight: 400;
  font-size: 16px;
}

.hiddenInput {
  display: none;
}
