.logo-icon__container {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border-radius: 50%;
}

.logo-icon__img {
  width: 20px;
  height: 20px;
  fill: var(--background);
}
