.container {
  max-width: 1140px;
}

.openButton:hover {
  color: var(--accent);
}

.popover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 950px;
  width: 100%;
  max-height: 800px;
  outline: 1px solid var(--caption);
  border-radius: 12px;
  background-color: var(--input);
  padding-block: 60px;
  padding-inline-start: 111px;
  padding-inline-end: 10px;
  position: absolute;
  z-index: 10;
  top: 72px;
  left: 2.5%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 400;
  font-size: inherit;
}

.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}

.circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -1px;
  left: -52px;
}
.briefcase {
  background-color: var(--tag-business);
}
.global {
  background-color: var(--tag-language);
}
.home {
  background-color: var(--tag-home);
}
.palette {
  background-color: var(--tag-art);
}
.book {
  background-color: var(--tag-education);
}
.lifestyle {
  background-color: var(--tag-health);
}
.default {
  background-color: var(--tag-default);
}

.title {
  font-family: var(--font-family-jost-medium), sans-serif;
  font-size: 24px;
  line-height: 117%;
  font-weight: 500;
  letter-spacing: -0.01em;
  padding-block-end: 12px;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.item {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 150%;
  letter-spacing: 0.02em;
  transition: color 0.2s;
}

.item:hover {
  color: var(--button-hover);
}
.item:active {
  color: var(--accent);
}

ul {
  list-style-type: none;
  padding: 0;
}

h4 {
  margin: 0;
}
