.user {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.user_name {
  font-family: var(--font-family-roboto-regular);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--text);
}

.user_avatar {
  flex-shrink: 0;
}
