.successModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  text-align: center;
}

.iconContainer {
  margin-bottom: 24px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333;
}

.message {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 32px;
  max-width: 400px;
}

.buttonContainer {
  width: 100%;
  max-width: 200px;
}
