.wrapper {
  max-height: 1040px;
  background-color: var(--input);
  width: 324px;
  overflow-y: scroll;
  padding: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 40px;
}

.title {
  font-family: var(--font-family-jost-medium), serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.01em;
}

.buttonReset {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: var(--text-link);
}

.buttonReset:hover {
  color: var(--accent);
}

.buttonReset:active {
  color: var(--text-link);
}
