.page {
  padding: 44px 36px 60px 36px;
  display: flex;
  align-items: start;
  gap: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1020px;
}

.sectionName {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
